<!--{*
 * Copyright(c) 2013 Spirit of Co.,Ltd. All rights reserved.
 * http://sbps.ec-cube.pro/
 * Updated: 2013/08/01
 * sps_cvsapi.tpl
 *}-->
<script type="text/javascript">//<![CDATA[
var send = true;

function fnCheckSubmit(mode) {
    $('#payment_form_body').slideToggle();
    $('#payment_form_loading').slideToggle();

    if(send) {
        send = false;
        fnModeSubmit(mode,'','');
        return false;
    } else {
        alert("只今、処理中です。しばらくお待ち下さい。");
        return false;
    }
}

function fnAutoLoadSubmit() {

    var mode = 'next';
    send = false;
    setTimeout("fnModeSubmit('next','','')", 500);
}

function fnAutoLoadSubmitSPS() {
    setTimeout("document.form_sps.submit()", 500);
}

//]]>
</script>

        <section id="payment_form_loading" style="display:none;">
            <div class="information end">
                <p>決済処理中です。そのまま、お待ち下さい。</p>
                <span class="attention">※画面が切り替るまで少々時間がかかる場合がございますが、そのままお待ちください。</span>
            </div>
            <div class="bubbleBox hot">
                <div class="bubble_announce clearfix">
                    <img src="<!--{$smarty.const.MDL_SPS_MEDIAFILE_URL}-->loading.gif" />
                </div>
            </div>
        </section>

        <section id="payment_form_body">
            <div class="information">
                <p>下記項目をご選択ください。
                入力後、一番下の「決済する」ボタンをクリックしてください。</p>

                <!--{if count($arrErr) > 0}-->
                <p>決済エラー<br />
                大変お手数ですがエラーの内容を確認して、再度お手続きを進めて下さい。</p>
                <!--{foreach from=$arrErr item=err}-->
                <p class="attention"><!--{$err}--></p>
                <!--{/foreach}-->
                <!--{/if}-->
            </div>

            <h3 class="subtitle">お支払いをするコンビニエンスストア</h3>
                <ul class="form_entry">
                <!--{foreach from=$arrCvs item=cvsname key=cvstype}-->
                    <li>
                        <input id="webcvstype_<!--{$cvstype|h}-->" type="radio" name="webcvstype" value="<!--{$cvstype|h}-->" <!--{if $arrForm[$key].value == $cvstype}-->checked="checked"<!--{/if}--> />
                        <label for="webcvstype_<!--{$cvstype|h}-->"><!<!--{$cvsname|h}--></label>
                    </li>
                <!--{/foreach}-->
                </ul>

            <div class="information">
                <p>
                        以上の内容で間違いなければ、下記「次へ」ボタンをクリックしてください。<br />
                        <span class="attention">※画面が切り替るまで少々時間がかかる場合がございますが、そのままお待ちください。</span>
                </p>
            </div>

            <div class="btn_area">
                <ul class="btn_btm">
                    <li>
                         <a rel="external" href="javascript:void(fnCheckSubmit('next'));" class="btn"/>次へ</a>
                    </li>
                    <li>
                        <a rel="external" href="javascript:void(fnCheckSubmit('return'));" class="btn_back"/>戻る</a>
                    </li>
                </ul>
            </div>

       </section><!--{* /payment_form_body *}-->


