<!--{*
 * This file is part of EC-CUBE
 *
 * Copyright(c) 2000-2014 LOCKON CO.,LTD. All Rights Reserved.
 *
 * http://www.lockon.co.jp/
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
 *}-->



	<div class="pagetitle">
		<h2>TERMS & CONDITIONS</h2>
		<span>ご利用規約</span>
	</div>

	<div class="detail">

		<p class="topTxt" style="padding-top: 30px;">規約には、本サービスを使用するに当たっての<br class="sp">あなたの権利と義務が規定されております。</p>

<!--{ if false }-->
		<p style="text-align: center;"><input type="checkbox" id="check01"><label for="check01">規約に同意する</label></p>

            <div class="btn_area">
                <ul>
                    <li><a href="<!--{$smarty.const.HTTPS_URL}-->entry/<!--{$smarty.const.DIR_INDEX_PATH}-->?<!--{$smarty.const.SID}-->" accesskey="1" class="highlight entryBtn01">会員登録</a></li>
                </ul>
            </div>
<!--{ /if }-->
		<div class="btmTxt">

		<div class="txtBox">
		<h3 class="termTitle">第1条 (規約の範囲)</h3>
		<p  class="termTxt">本規約は、株式会社ワイオーユー (以下「当社」といいます)が運営する、インターネットショッピングサービス「<!--{$arrSiteInfo.shop_name|h}-->」(以下「本サービス」といいます)の利用に関し、当社および次条で定義された会員を含む本サービスの利用者(以下あわせて「利用者等」といいます)に適用されるものです。</p>
		</div>

		<div class="txtBox">
		<h3 class="termTitle">第2条 (利用者と会員)</h3>
		<ul class="listTxt">
			<li>1. 利用者等は、本規約および次条に定める個別規定等に従って、本サービスを利用するものとします。</li>
			<li>2. 利用者等は、本サービスを利用してなされた一切の行為およびその結果について、責任を負うものとします。</li>
			<li>3. 利用者等は、本サービスを利用するために必要な通信機器、ソフトウェア、その他これに付随して必要となる全ての機器の準備および回線利用契約の締結、インターネット接続サービスへの加入、その他必要な準備を、自己の費用と責任において行うものとします。</li>
			<li>4. 当社は利用者等との個別の合意なしに、本サービスの内容を変更することができます。変更に伴い会員に不利益、損害が発生したとしても、故意または重過失による場合を除き、当社はその責任を負いません。</li>
			<li>5. 会員とは、本規約の遵守に同意した上で、当社所定の手続きによって利用者のうち会員登録を申込み、当社が承諾した方とします。</li>
			<li>6.利用者等が、当サービスにて注文を行なったにもかかわらず、お受け取りを頂けない場合、次回のご注文をお断りもしくはお受け取り頂けなかった際の往復送料及び手数料実費をご請求させて頂く場合があります。</li>
			<li>7. 利用者は購入者情報と送付先情報を入力して、会員は、会員IDとパスワードを用いて、本サービスを利用し商品を購入することができます。</li>
			<li>8. 会員は自己の責任において会員IDおよびパスワードを厳重に管理することとし、当社は会員の過失の有無に関わらず、会員IDならびにパスワードを他者が利用したことにより被った会員の損害については、一切の責任を負わないものとします。</li>
			<li>9. 会員は、IDおよびパスワードを第三者と共用し、第三者に貸与または譲渡してはなりません。</li>
			<li>10. 会員は、IDおよびパスワードの失念があった場合には、当社所定の手続に従うものとします。</li>
			<li>11. 会員は、IDおよびパスワードの盗難があった場合またはIDおよびパスワードが第三者に利用されていることが判明した場合には、直ちに当社にその旨を連絡するとともに、当社からの指示がある場合にはこれに従うものとします。</li>
			<li>12. 未成年者のご利用ご登録には、親権者の同意を必要とします。</li>
		</ul>
		</div>

		<div class="txtBox">
		<h3 class="termTitle">第3条 (個別規約等との関係)</h3>
		<ul class="listTxt">
			<li>1. 利用者等は、本規約以外に、当社が本サービス内または本サービスに付随して提供する個別のサービスのために定められた個別規約(名称にいかんにかかわらず、以下「個別規約」といい、本規約とあわせて「本規約等」という。)についても、本規約同様遵守しなくてはなりません。</li>
			<li>2. 本規約と個別規約等の定めが異なる場合には、当該個別規約等の特段の定めがない限り、個別規約等の定めが優先して適用されます。</li>
		</ul>
		</div>

		<div class="txtBox">
		<h3 class="termTitle">第4条 (登録情報の変更)</h3>
		<p  class="termTxt">会員は、氏名、住所、電話番号、メールアドレスその他、当社に申告した情報に変更が生じた場合、速やかに当社所定の方法にて変更を届け出るものとします。変更を届け出ない場合、会員IDの継続利用ができなくなります。</p>
		</div>

		<div class="txtBox">
		<h3 class="termTitle">第5条 (禁止事項会員登録の取り消し)</h3>
		<ul class="listTxt">
			<li>1. 当社は、利用者が以下のいずれかに該当する場合、当該者への事前通知および承諾を得ることなく、当該者の本サービスの利用を規制することができるものとします。<br>
			(1)利用者が登録の際に届け出た情報に、虚偽、不正、二重登録、誤記、又は記入漏れがあった場合<br>
			(2)電話、FAX、メールその他の手段によっても、利用者との連絡が取れなくなった場合<br>
			(3)本規約の定めるいずれかに違反した場合<br>
			(4)その他、当社が会員利用者として不適切と判断した場合
			</li>
			<li>2. 当社は、会員が以下の各号のいずれかに該当した場合、当社は事前に通知することなく、直ちに当該会員の会員資格を取り消すことができるものとします。<br>
			(1)法令又は本規約等に違反した場合<br>
			(2)本サービス内で、他の会員その他の第三者を誹謗中傷、名誉を毀損し、プライバシーを侵害するなど、他の会員又はその他の第三者に不利益又は不快感を与える行為を行った場合<br>
			(3)選挙運動又はこれに類似される行為を行った場合 <br>
			(4)営業活動又は営利目的の行為を行った場合<br>
			(5)本サービスの運営を妨害した場合<br>
			(6)会員の契約している接続プロバイダの定める規約に違反した場合<br>
			(7)第2条第8項以下に定める行為のほか、ＩＤ及びパスワードの不正使用が認められた場合<br>
			(8)当社に虚偽の情報（個人情報を含む）を提供した場合<br>
			(9)決済手段として当該会員が届け出たクレジットカードが利用停止となった場合<br>
			(10)料金等の支払債務の不履行があった場合<br>
			(11)登録された会員情報（住所、電話番号、電子メール）への連絡が不可能となった場合<br>
			(12)会員が暴力団員又は暴力団若しくは暴力団員と密接な関係を有する者であった場合<br>
			(13)その他会員として不適切と当社が判断した場合
			</li>
			<li>3. 前項に従って当社が会員資格を取り消したことにより、当該会員が本サービスを利用できなくなり、これにより当該会員又は第三者に損害が発生したとしても、当社は一切の責任を負いません。
			</li>
		</ul>
		</div>

		<div class="txtBox">
		<h3 class="termTitle">第6条 (会員の地位等の譲渡の禁止)</h3>
		<p  class="termTxt">
		会員は、会員としての地位または本規約により生じた権利を第三者に譲渡、売買または質権の設定その他の担保に供する等の行為はできません。
		</p>
		</div>

		<div class="txtBox">
		<h3 class="termTitle">第7条 (個人情報の取扱い)</h3>
		<p  class="termTxt">
		利用者等は、当社が個人情報（個人情報保護法第２条第１項に定める個人情報をいいます。）につき必要な保護措置を行った上で、以下の各号に定めるとおり取り扱うことを認めます。
		</p>
		<ul class="listTxt">
			<li>
				(1)当社による以下の個人情報の取得<br>
				①氏名<br>
				②住所<br>
				③電話番号<br>
				④生年月日<br>
				⑤メールアドレス<br>
				⑥クレジットカード番号及び有効期限⑦その他会員登録の際に登録した内容<br>
				⑧商品購買履歴
			</li>
			<li>
				(2)当社による以下の利用目的の範囲での個人情報の利用<br>
				①本人確認<br>
				②本サービス上で行われる売買の確認、売買後の配送及びそれに付随した連絡<br>
				③当社からの電子メール及び郵送による商品情報、生活情報、アフターサービス、各種優待等の案内<br>
				④意見、感想、アンケート等の依頼<br>
				⑤マーケティング及び購買行動の分析<br>
				⑥共同利用者（個人情報保護法第23条第４項第３号にいう「共同して利用する者」をいう。）に対する上記利用目的の範囲内での個人情報の提供及び共同利用者における同利用目的内での利用
			</li>
			<li>
				(3)共同利用者の範囲及び管理責任者<br>
				①共同利用者の範囲<br>
				当社の連結対象会社及び持分法適用会社<br>
				②管理責任者<br>
				当社
			</li>
		</ul>
		</div>

		<div class="txtBox">
		<h3 class="termTitle">第8条 (掲載情報)</h3>
		<ul class="listTxt">
			<li>1. 当サービスに記載された情報の正確性については万全を期しておりますが、誤解を生みやすい記載や誤植を含む可能性があります。それにより発生したいかなる損失・損害に関し、当社は一切責任を負わないものとします。</li>
			<li>2. 価格情報等に万一、誤りがあった場合、ご注文の確定後であっても、ご注文を承れない場合がございます。その場合は、当社より、正規の情報をご連絡し、ご購入の意思のご確認をさせていただきます。</li>
			<li>3. 掲載画像に関してはできる限り忠実に表示できるよう努めておりますが、PCモニターの設定及び特性上、実際の商品と比較した場合、色味に若干の誤差が生じる場合があります。このことに関するご利用者のお申出、ご請求について、当社は一切責任を負わないものとします。</li>
			<li>4. 商品の販売価格に関しましては、誤表記がない限り、ご購入いただきました時点での表示金額が課金金額となります。購入後、SALE等で正規に販売価格変更があった場合においても商品到着の有無にかかわらず、差額のご返金、注文のキャンセル等は一切お受け出来ませんので、あらかじめご了承ください。</li>
		</ul>
		</div>

		<div class="txtBox">
		<h3 class="termTitle">第9条 (商品の購入)</h3>
		<ul class="listTxt">
			<li>1. 利用者が申し込んだ注文に対する受理処理を当社が完了した時点で、該当注文にかかる商品の売買契約が成立するものとします。</li>
			<li>2. 会員ID、パスワードを用いて行われた注文は、理由を問わず、その会員ID、パスワードに該当する会員の有効な注文とみなします。</li>
			<li>3. インターネット上の障害やその他当社に帰責事由のない原因により、注文が受理されなかった場合、当社はその責任を負いません。</li>
		</ul>
		</div>

		<div class="txtBox">
		<h3 class="termTitle">第10条 (支払い)</h3>
		<ul class="listTxt">
			<li>1. 利用者は、購入した商品等の代金を、当社所定の方法により決済するものとします。</li>
			<li>2. クレジットカードの場合・・・・・商品の発送をもってご請求させて頂きます。<br>
			代金引換払いの場合・・・・・・商品お受け取り時にお支払下さい。</li>
			<li>3. 利用者等は、商品購入代金に加え、決済手数料を負担するものとします。</li>
			<li>4. 商品の表示価格は消費税を含みます。</li>
			<li>5. 送料は全国一律350円（税込）となっております。<br>
			商品の合計金額が10,000円（税込）以上のご購入で送料無料となります。</li>
			<li>6. 「代金引換」をご選択の場合は手数料をご負担いただきます。<br>
			手数料は324円(税込)<br>
			※佐川急便取扱不能地区につきましては配送が出来ない場合がございます。</li>
		</ul>
		</div>

		<div class="txtBox">
		<h3 class="termTitle">第11条 (配送)</h3>
		<ul class="listTxt">
			<li>1. 本サービスの配送範囲は、日本国内に限ります。</li>
			<li>2. 当社は、特に記載がない場合、以下の場合を除いて売買契約の成立から原則1週間以内に注文商品を配送するものとします。<br>
			(1)配送・交通事情、天災や天候等が影響した場合<br>
			(2)商品の注文件数が当初予測を著しく超える場合<br>
			(3)離島等、配達担当業者の事情により配送に時間を要する場合<br>
			(4)顧客の都合で荷物を受け取れなかった場合<br>
			(5)予約商品を含む場合<br>
			(6)メーカーの生産・納品遅延により出荷に時間を要する場合</li>
			<li>3. 商品の引渡しは、会員登録の際に登録した住所に商品が配送されたことをもって完了したものとします。</li>
			<li>4. 注文商品のお届けが大幅に遅れる場合や、完売により配送できなくなった場合には、メール等でご連絡いたします。</li>
			<li>5. 当社が商品を配送業者に引き渡した時点で、当該商品に関する所有権および危険は利用者等に移転します。</li>
		</ul>
		</div>

		<div class="txtBox">
		<h3 class="termTitle">第12条 (返品・交換)</h3>
		<ul class="listTxt">
			<li>1. 本サービスを利用して購入した商品の、利用者等の都合、による返品・交換については、原則としてお受けいたしません。</li>
			<li>2. 当社は、以下の場合に限り、当社負担での返品、交換に応じます。ただし、この場合も利用者は下記の定める期間内でのみ交換請求を行うこととします。<br>
			・商品到着後1週間以内に交換請求が必要なケース<br>
			(1)注文した商品と異なる商品が届いた場合<br>
			(2)注文した数量と異なる数量が届いた場合<br>
			(3)配送中の事故等で商品に破損、損傷が生じていた場合<br>
			・事実判明から1週間以内に交換請求が必要なケース<br>
			(4)届いた商品に瑕疵または欠陥が発見された場合<br>
			(5)その他、当社が相当と判断する場合</li>
		</ul>
		</div>

		<div class="txtBox">
		<h3 class="termTitle">第13条 (退会)</h3>
		<ul class="listTxt">
			<li>1. 会員は、いつでも自由に退会できるものとし、会員本人が所定の退会手続の完了をすることで退会が完了するものとします。</li>
			<li>2. 会員としての地位は一身専属のものであるとし、当社が当該会員の死亡を知り得た時点をもって、前項の手続きがあったものとみなします。</li>
		</ul>

		</div>

		<div class="txtBox">
		<h3 class="termTitle">第14条 (著作権等の帰属)</h3>
		<ul class="listTxt">
			<li>1. 本サービスの各コンテンツに関する著作権、特許権、商標権、意匠権その他一切の知的財産権およびこれらの権利の登録を受ける権利(以下「知的財産権」といいます)は、当社または当社がライセンスを受けているライセンサーに帰属するものとします。</li>
			<li>2. 利用者等は知的財産権の存否に関わらず、本サービスの各コンテンツについて、複製、配布、転載、転送、公衆送信、改変、翻案、その他の二次利用等を行うことはできません。</li>
		</ul>
		</div>

		<div class="txtBox">
		<h3 class="termTitle">第15条 (サービスの変更と停止)</h3>
		<ul class="listTxt">
			<li>1. 当社は、本サービスの提供に必要なシステムや設備に不具合を含む障害が生じた場合、地震、火災、洪水、停電その他非常事態が生じた場合、その他、当社が本サービスの一時停止・中断を必要と判断した場合、利用者、会員への事前の通知や承諾なしに、本サービスを停止または中止することができるものとします。</li>
			<li>2. 当社は、本サービスの内容の全部または一部について、利用者、会員の承諾を受けることなく、変更、追加、または削除を行うことができるものとします。</li>
			<li>3. 当社は、理由を問わず、本サービスが変更または停止、中止したことによって利用者、会員または第三者が被った損害について、一切の責任を負わないものとします。</li>
		</ul>
		</div>

		<div class="txtBox">
		<h3 class="termTitle">第16条 (利用規約の変更)</h3>
		<ul class="listTxt">
			<li>1. 当社は、利用者等との個別の合意なしに、本サービス上での告知又は当社が適当と判断する方法で利用者等に通知することにより本規約を変更できるものとする。</li>
			<li>2. 前項にかかわらず、本規約に重要な変更が加えられる場合であると当社が判断した場合には、当該変更が加えられる内容につき、利用者等と当社の間で個別の合意を行うこととする。</li>
			<li>3. 第１項又は前項による変更後の本規約は、当社が別途定める場合を除き、当社が運営するＷｅｂサイト等において表示された時点より、効力を生じるものとする。</li>
			<li>4. 本規約の変更についての履歴は、本サービス上で参照できることとする。</li>
		</ul>
		</div>

		<div class="txtBox">
		<h3 class="termTitle">第17条 (免責事項)</h3>
		<ul class="listTxt">
			<li>1. 当社は、本サービスの利用に関連して発生した損害に対し、一切の責任を負わないものとします。</li>
			<li>2. 当社は、本サービスもしくは提供情報の完全性、正確性に対し一切の保障を与えるものではありません。</li>
			<li>3. 利用者は、本サービスの利用に関連して発生した損害や紛争を、自己の費用と責任で賠償、解決し、当社に一切の損害、負担を与えないものとします。</li>
			<li>4. 当社は、利用者が本サービスを利用するための環境等に関するサポートは行いません。また、当社は、本サービスの利用によって会員が使用した環境やデータに損害、毀損が発生した場合、一切の責任を負わないものとします。</li>
			<li>5. 当社は、当社が管理するシステムの設定等が利用者、会員が使用する環境等に適合しない場合であっても、これらの変更、改変等を行う義務を負わないものとします。</li>
		</ul>
		</div>

		<div class="txtBox">
		<h3 class="termTitle">第18条 (準拠法)</h3>
		<ul class="listTxt">
			<li>1. 本規約の成立、効力、履行および解釈、その他本サービスに関する一切の事項については、日本国法を適用します。</li>
			<li>2. 本サービスに関して、利用者と当社の間で問題が生じた場合は、利用者等と当社で誠意をもって協議を行い、解決するものとします。</li>
			<li>3. 前項の規定にもかかわらず、協議による解決をみない場合は、東京地方裁判所もしくは東京簡易裁判所を第一審の専属的合意管轄裁判所とします。</li>
		</ul>
		</div>

		<div class="txtBox">
		<p  class="termTxt">制定：平成 29年 8月 23日</p>
		</div>

<!--{ if false }-->
<!-- Display none: Start -->
			<p style="text-align: center;"><input type="checkbox" id="check02"><label for="check02">規約に同意する</label></p>

            <div class="btn_area">
                <ul>
                    <li>
                        <a href="<!--{$smarty.const.HTTPS_URL}-->entry/<!--{$smarty.const.DIR_INDEX_PATH}-->?<!--{$smarty.const.SID}-->" accesskey="1" class="highlight entryBtn02">会員登録</a>
                    </li>
                </ul>
            </div>
<!-- Display none: End -->
<!--{ /if }-->

    </div>

</div>

<!--{ if false }-->
<!-- Display none: Start -->
<script>
$('a.entryBtn02').click(function(){
  if($("#check02").prop('checked')) {
} else {
  return false;
}
});

$('a.entryBtn01').click(function(){
  if($("#check01").prop('checked')) {
} else {
  return false;
}
});
</script>
<!-- Display none: End -->
<!--{ /if }-->
