<!--{*
 * Copyright(c) SOFTBANK PAYMENT SERVICE Corp. All rights reserved.
 * http://www.sbpayment.jp/
 *}-->
            <br>
            <form name="form<!--{$key}-->" id="form<!--{$key}-->" method="post" action="?" utn>
                <input type="hidden" name="<!--{$smarty.const.TRANSACTION_ID_NAME}-->" value="<!--{$transactionid}-->">
                <input type="hidden" name="mode" value="plg_sps2click">
                <input type="hidden" name="cart_no" value="">
                <input type="hidden" name="cartKey" value="<!--{$key}-->">
                <center><input type="submit" value="2クリックで注文"></center>
            </form>
            <br>


