<!--{*
 * Copyright(c) 2013 Spirit of Co.,Ltd. All rights reserved.
 * http://sbps.ec-cube.pro/
 * Updated: 2013/08/01
 *}-->
<form name="form1" id="form1" method="post" action="<!--{$tpl_url}-->">
<input type="hidden" name="<!--{$smarty.const.TRANSACTION_ID_NAME}-->" value="<!--{$transactionid}-->" >
<input type="hidden" name="mode" value="next" >
<input type="hidden" name="uniqid" value="<!--{$tpl_uniqid}-->" >
<!--{foreach from=$arrForm item=data key=key}-->
<input type="hidden" name="<!--{$key|h}-->" value="<!--{$data.value|h}-->" >
<!--{/foreach}-->

<!--{if $tpl_form_bloc_path != ""}-->
<!--{include file=$tpl_form_bloc_path}-->
<!--{/if}-->

</form>
<br>
