<!--{*
 * Copyright(c) 2014 GMO Payment Gateway, Inc. All rights reserved.
 * http://www.gmo-pg.com/
 * Updated: 2014/02/10
 *}-->


<!--{if $arrPlgPgSubsStatus && $tpl_plg_subs_status}-->
<tr><th>洗替状態</th>
  <td>
  <!--{$arrPlgPgSubsStatus[$arrForm.plg_pgsubs_status]}-->
  <!--{*html_radios name="plg_pgsubs_status" options=$arrPlgPgSubsStatus selected=$arrForm.plg_pgsubs_status separator='&nbsp;&nbsp;'*}-->
  </td>
</tr>
<!--{/if}-->
