<!--{*
 * Copyright(c) SOFTBANK PAYMENT SERVICE Corp. All rights reserved.
 * http://www.sbpayment.jp/
 *}-->
<script type="text/javascript">//<![CDATA[

//]]>
</script>

                    <li>
                        <a href="javascript:void();" onclick="fnFormModeSubmit('form<!--{$key}-->', 'plg_sps2click', '', '');return false;" onmouseover="chgImgImageSubmit('<!--{$smarty.const.PLUGIN_HTML_URLPATH}-->Sps2Click/btn_2click_on.gif',this)" onmouseout="chgImgImageSubmit('<!--{$smarty.const.PLUGIN_HTML_URLPATH}-->Sps2Click/btn_2click.gif',this)">
                            <img src="<!--{$smarty.const.PLUGIN_HTML_URLPATH}-->Sps2Click/btn_2click.gif" name="plg_sps2click" alt="2クリックで注文" />
                        </a>
                    </li>
