<!--{*
 * Copyright(c) SOFTBANK PAYMENT SERVICE Corp. All rights reserved.
 * http://www.sbpayment.jp/
 *}-->
<input type="hidden" name="mode" value="" />
                            <div class="cartin_btn" style="margin-left:1em;">
                                <div id="cartbtn_default_<!--{$id}-->">
                                    <input type="image" src="<!--{$smarty.const.PLUGIN_HTML_URLPATH}-->Sps2Click/btn_2click.gif" alt="2クリックで注文" name="plg_sps2click" id="plg_sps2click" onmouseover="chgImgImageSubmit('<!--{$smarty.const.PLUGIN_HTML_URLPATH}-->Sps2Click/btn_2click_on.gif','plg_sps2click')" onmouseout="chgImgImageSubmit('<!--{$smarty.const.PLUGIN_HTML_URLPATH}-->Sps2Click/btn_2click.gif','plg_sps2click')" onclick="$('input[name=mode]').val('plg_sps2click');fnInCart(this.form);return false;">

                                </div>
                            </div>

