<!--{*
 * Copyright(c) SOFTBANK PAYMENT SERVICE Corp. All rights reserved.
 * http://www.sbpayment.jp/
 *}-->
<script type="text/javascript">//<![CDATA[

//]]>
</script>
                <div class="cartin" style="margin-top:1em;">
                    <div class="cartin_btn">
                        <div id="cartbtn_default">
                            <a href="javascript:void(fnFormModeSubmit('form1', 'plg_sps2click', '', ''));" onmouseover="chgImgImageSubmit('<!--{$smarty.const.PLUGIN_HTML_URLPATH}-->Sps2Click/btn_2click_on.gif','plg_sps2click')" onmouseout="chgImgImageSubmit('<!--{$smarty.const.PLUGIN_HTML_URLPATH}-->Sps2Click/btn_2click.gif','plg_sps2click')">
                                <img src="<!--{$smarty.const.PLUGIN_HTML_URLPATH}-->Sps2Click/btn_2click.gif" alt="2クリックで注文" name="plg_sps2click" id="plg_sps2click" /></a>
                        </div>
                    </div>
                </div>

