<!--{*
/*
 * This file is part of EC-CUBE
 *
 * Copyright(c) 2000-2014 LOCKON CO.,LTD. All Rights Reserved.
 *
 * http://www.lockon.co.jp/
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
 */
*}-->



<div class="pagetitle">
    <h2>PRIVACY POLICY</h2>
    <span>プライバシーポリシー</span>
</div>

<div class="detail">

    <p class="topTxt">株式会社ワイオーユー（以下、当社）は、<br class="sp">本サイト（www.vivishop.jp）において、<br>個人情報の重要性を認識し、その保護を徹底するために、<br class="sp">下記の個人情報保護方針を定め、個人情報の適切な取り扱いに取組んでいます。</p>

    <div class="mdlTxt">
        <ul class="listTxt">
            <li>1.当社は、個人情報の保護に関する法律その他関係法令及びガイドライン等の社会規範を遵守し、個人情報の保護の実践に努めてまいります。</li>
            <li>2.当社は、個人情報を取得させていただく場合は、利用目的をできる限り特定するとともに、利用目的をあらかじめ公表したうえで、適法かつ公正な手段によって、必要な範囲の個人情報を取得させていただきます。</li>
            <li>3.当社は、個人情報を特定した利用目的の範囲内でのみ利用します。定めた利用目的の範囲を超えて取り扱いません。</li>
            <li>4.当社は、法令が認める場合を除き、当該個人情報によって識別されるご本人（以下、ご本人）の同意を得ずには、第三者への個人情報の提供・開示等はいたしません。</li>
            <li>5.当社は、個人情報の保護を実践するため、個人情報の取得・提供・取扱いの委受託等に関する外部との手続を、適切に整備・運用します。</li>
            <li>6.当社は、保有する個人情報について、ご本人の個人情報開示・修正・削除依頼に対しては別途定める手続に則って合理的な範囲ですみやかに対応させていただきます。</li>
            <li>7.当社は、個人情報の漏えい、滅失またはき損などの危険を防止および是正するための、社内規程や責任体制を定め、合理的で適正な安全対策を講じます。</li>
            <li>8.当社は、当社に対し個人情報の取扱いに関する苦情及びご相談がある場合は、適切かつ迅速に対応します。</li>
            <li>9.当社は、個人情報保護に関するマネジメントシステム（本方針、個人情報保護に関する規程･規則等を含む）を構築し、これを従業員その他関係者に周知徹底させて実施・維持するとともに、継続的に改善します。</li>
            <li>10.個人情報保護・取扱いの考え方及び方法については適宜改善・改良を行います。従いまして本方針は予告無しに変更されることがあります。</li>
        </ul>
    </div>

    <div class="btmTxt">

    <div class="txtBox">
    <h3 class="privacyTitle">個人情報の利用目的</h3>
    <p  class="privacyTxt">本サイトでは、商品のご購入、会員登録、アンケート回答などの場面において、お客様から特定の個人を識別しうる情報（以下「個人情報」といいます。）、決済情報、アンケートの回答などの情報をご提供いただいております。また、当社は、株式会社講談社（以下「講談社」といいます。）およびその他提携会社から個人情報を入手することもあります。<br>当社が収集した個人情報は、お客様への当社サービスの提供、商品購入時の決済の他、下記の目的にのみ利用し、下記目的外での利用はいたしません。</p>
    <ul class="listTxt">
        <li>・当社の特価商品のご案内、その他第三者が企画した特別プロモーション(以下「特別プロモーション企画」といいます。）に関するご案内など、当社からお客様へのダイレクトメール、電子メールによる情報提供（なお、特別プロモーション企画のご案内については、当該企画を行った第三者からの依頼を受けて、あくまでも当社からお客様宛に当該企画についての情報を提供させていただくものであり、当社から当該企画を行った第三者に対してお客様の個人情報を提供することはありません。）</li>
        <li>・お客様との連絡</li>
        <li>・その他お客様に有益で便利なサービスをご提供するため</li>
        <li>・取り扱い商品を購入いただいたお客様宛に、新商品などのご案内を提供するため</li>
    </ul>
    <p  class="privacyTxt">【アクセスログについて】<br>
    本サイトでは、アクセスされた方の情報をアクセスログという形で記録しています。アクセスログには、アクセスされた方のIPアドレス、ブラウザの種類、ドメイン名、アクセス時間、アクセス回数などが含まれます。アクセスログは、本サイトの保守管理や利用状況に関する統計分析のために活用いたしますが、上記以外の目的では利用はいたしません。</p>
    </div>

    <div class="txtBox">
    <h3 class="privacyTitle">個人情報の共同利用に関して</h3>
    <ul class="listTxt">
        <li>1.講談社との共同利用<br>
        当社は、利用者等に付加価値の高いサービスを展開するため、厳格な管理のもと、適切な安全措置を講じて、講談社またはその他提携会社と個人情報を共同利用いたします。</li>
        <li>2.ワイオーユーグループ各社との共同利用<br>
        当社は、ワイオーユーグループ各社（株式会社ワイオーユーの連結子会社をいいます。）との間で、個人情報の共同利用を行います。</li>
    </ul>
    </div>

    <div class="txtBox">
    <h3 class="privacyTitle">個人情報の第三者への提供</h3>
    <p  class="privacyTxt">当社は、原則として、お客様本人の同意を得ずに個人情報を第三者に提供しません。提供先・提供情報内容を特定したうえで、お客様の同意を得た場合に限り提供します。<br>ただし、以下の場合は、関係法令に反しない範囲で、お客様の同意なく個人情報を提供することがあります。</p>
    <ul class="listTxt">
        <li>・お客様が第三者に不利益を及ぼすと判断した場合</li>
        <li>・公衆衛生の向上または児童の健全な育成の推進のために特に必要がある場合であって、お客様本人の承諾を得ることが困難である場合</li>
        <li>・国の機関若しくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合で、お客様本人の同意を得ることによりその事務の遂行に支障を及ぼすおそれがある場合</li>
        <li>・裁判所、検察庁、警察またはこれらに準じた権限を有する機関から、個人情報についての開示を求められた場合</li>
        <li>・お客様本人から明示的に第三者への開示または提供を求められた場合</li>
        <li>・法令により開示または提供が許容されている場合</li>
        <li>・合併その他の事由による事業の承継に伴い個人情報を提供する場合であって、承継前の利用目的の範囲で取り扱われる場合</li>
    </ul>
    </div>

    <div class="txtBox">
    <h3 class="privacyTitle">第三者提供に関する免責事項</h3>
    <p  class="privacyTxt">以下の場合は、第三者による個人情報の取得に関し、当社は何らの責任を負いません。</p>
    <ul class="listTxt">
        <li>1.お客様自らが本サービスの機能または別の手段を用いて利用企業等に個人情報を明らかにする場合（なお、利用企業等における個人情報の取扱いについては、各利用企業に直接お問合せください）</li>
        <li>2.本サービスに入力した情報により、期せずして本人が特定できてしまった場合</li>
        <li>3.本サービスからリンクされる外部サイトにおいて、お客様より個人情報が提供され、またそれが利用された場合</li>
        <li>4.お客様本人以外がお客様個人を識別できる情報（ID・パスワード等）を入手した場合</li>
    </ul>
    </div>

    <div class="txtBox">
    <h3 class="privacyTitle">個人情報処理の外部委託</h3>
    <p  class="privacyTxt">当社は、個人情報取扱い業務の一部または全部を外部委託することがあります。なお、委託先における個人情報の取扱いについては当社が責任を負います。</p>
    </div>

    <div class="txtBox">
    <h3 class="privacyTitle">クレジットカード情報について</h3>
    <p  class="privacyTxt">当社は、クレジットカードによる決済業務を、決済代行サービス会社に委託しております。本サイトにて購入者が入力したクレジットカード情報（クレジットカード番号、有効期限、セキュリティコード）は、決済代行サービス会社が保持しており、当社はクレジットカード情報を一切保持しません。</p>
    </div>

    <div class="txtBox">
    <h3 class="privacyTitle">Cookieに関するポリシー</h3>
    <ul class="listTxt">
        <li>1.Cookieについて<br>
        Cookieとは、Webページを利用したときに、ブラウザとサーバとの間で送受信した利用履歴や入力内容などを、利用者のコンピュータに保存しておく仕組みです。次回、同じページにアクセスすると、Cookieの情報を使って、ページの運営者は利用者ごとに表示を変えたりすることができます。
        利用者がブラウザの設定でCookieの送受信を許可している場合、Webサイトは、ユーザーのブラウザからCookieを取得できます。なお、利用者のブラウザは、プライバシー保護のため、そのWebサイトのサーバが送受信したCookieのみを送信します。利用者が設定を変更することにより、Cookieの機能を停止することも可能ですが、その場合は一部のサービスをご利用できなくなることがありますのでご注意ください。</li>
        <li>2.Cookieの設定について<br>
        利用者は、Cookieの送受信に関する設定を「すべてのCookieを許可する」、「すべてのCookieを拒否する」、「Cookieを受信したらユーザーに通知する」などから選択できます。設定方法は、ブラウザにより異なります。Cookieに関する設定方法は、お使いのブラウザの「ヘルプ」メニューでご確認ください。 すべてのCookieを拒否する設定を選択されますと、認証が必要なサービスを受けられなくなる等、インターネット上の各種サービスの利用上、制約を受ける場合がありますのでご注意ください。</li>
        <li>3.当社がCookieを使用して行っていること<br>
        以下の目的のため、当社はCookieを利用しています。<br>
        ・お客様が認証サービスにログインされるとき、保存されている利用者の登録情報を参照して、お客様ごとにカスタマイズされたサービスを提供できるようにするため。<br>
        ・お客様が興味を持っている内容や、当社のサイト上での利用状況をもとに、最も適切な広告を他社サイト上で表示するため。<br>
        ・当社のサイトの利用者数やトラフィックを調査するため。<br>
        ・当社のサービスを改善するため。
        </li>
    </ul>
    </div>

    <div class="txtBox">
    <h3 class="privacyTitle">第三者配信事業者の広告配信について</h3>
    <p  class="privacyTxt">Google、Yahoo! JAPAN、Facebook、Twitter を含む第三者配信事業者によりインターネット上のさまざまなサイトに当社の広告が掲載されています。 Google、Yahoo! JAPAN、Facebook、Twitter を含む第三者配信事業者は Cookie等の識別情報を使用して、当社Webサイトへの過去のアクセス情報に基づいて広告を配信します。ただし、これらの識別情報やアクセス情報には個人を識別できる情報は一切含んでおらず、広告配信以外の目的で利用することはありません。<br><br>

    ＜Google によって提供されるディスプレイ広告に関連するサービスの利用について＞<br>
    当社は、当社ウェブサイトの利用状況に応じて、Google AdWords広告を表示します。また、当社ウェブサイトの利用状況を把握するためにGoogle アナリティクスを利用し、Google アナリティクスによって提供される広告サービス（Google アナリティクス リマーケティング、Google ディスプレイ ネットワークの表示回数レポート、Google アナリティクスのユーザーの分布とインタレスト カテゴリに関するレポート、Google アナリティクスを使用して広告 Cookie と匿名 ID を使ったデータを収集する統合的なサービス）を利用します。このため、Google アナリティクスの標準的なデータに加え、Google 広告Cookieと匿名IDを使ったトラフィックデータを収集しています。詳細については、Google アナリティクス利用規約（<a href="http://www.google.com/analytics/terms/jp.html" target="_blank">http://www.google.com/analytics/terms/jp.html</a>）、およびGoogle アナリティクスのプライバシーポリシー（<a href="http://www.google.co.jp/policies/privacy/" target="_blank">http://www.google.co.jp/policies/privacy/</a>）をご確認ください。
    Google によるCookieの使用を無効にする場合は、Google 広告のオプトアウトページ （<a href="http://www.google.co.jp/privacy/ads/" target="_blank">http://www.google.co.jp/privacy/ads/</a>）にアクセスして、GoogleによるCookieの使用を無効にすることができます。<br><br>

    ＜Yahoo! JAPANによって提供される行動ターゲティング広告の利用について＞<br>
    当社は、当社ウェブサイトの利用状況に応じて、Yahoo! JAPANおよびYahoo! JAPANのパートナーサイトに広告を表示します。詳細はYahoo! JAPANが配信する行動ターゲティング広告について（<a href="http://btoptout.yahoo.co.jp/optout/" target="_blank">http://btoptout.yahoo.co.jp/optout/</a>）をご確認下さい。なお、Yahoo! JAPANがCookieを通じて取得する情報の利用についてはこちら（<a href="http://docs.yahoo.co.jp/docs/info/terms/chapter1.html#cf2nd" target="_blank">http://docs.yahoo.co.jp/docs/info/terms/chapter1.html#cf2nd</a>）を御参照下さい。 Yahoo! JAPANによるCookieの使用を無効にする場合は、Yahoo! JAPANの配信する行動ターゲティング広告のオプトアウトページ（<a href="http://btoptout.yahoo.co.jp/optout/index.html" target="_blank">http://btoptout.yahoo.co.jp/optout/index.html</a>）にアクセスして、Yahoo! JAPANによるCookieの使用を無効にすることができます。<br><br>

    ＜Facebookカスタムオーディエンスを利用した広告配信について＞<br>
    当社は、当社サービスの利用状況をもとにした広告を表示するために、Facebookカスタムオーディエンスを利用します。詳細はFacebookカスタムオーディエンス（<a href="https://www.facebook.com/ads/manage/customaudiences/tos.php" target="_blank">https://www.facebook.com/ads/manage/customaudiences/tos.php</a>）をご確認下さい。 Facebookカスタム オーディエンスを利用した広告配信に関してはFacebookのオプトアウトページ（<a href="https://www.facebook.com/about/ads" target="_blank">https://www.facebook.com/about/ads</a>）より無効にすることができます<br><br>

    ＜Twitterのコンバージョントラッキング、およびカスタムオーディエンスを利用した広告配信について><br>
    当社は、当社ウェブサイトの利用状況に応じて、TwitterおよびTwitterのパートナー上で、ユーザーの興味関心をターゲティングした広告を表示します。詳細については、コンバージョントラッキングおよびカスタムオーディエンスに関するポリシー（<a href="https://support.twitter.com/articles/20172378" target="_blank">https://support.twitter.com/articles/20172378</a>）をご確認下さい。 広告配信におけるプライバシー設定の変更は、（<a href="https://support.twitter.com/articles/20171553" target="_blank">https://support.twitter.com/articles/20171553</a>）をご覧ください。<br><br>

    ＜Network Advertising Initiative 加盟の第三者配信事業者の広告配信について＞<br>
    Network Advertising Initiative 加盟の第三者配信事業者によるCookieの使用を無効にする場合は、Network Advertising Initiativeのオプトアウトページ（<a href="http://www.networkadvertising.org/managing/opt_out.asp" target="_blank">http://www.networkadvertising.org/managing/opt_out.asp</a>）にアクセスして、当該事業者による Cookie の使用を無効にすることができます。
    </p>
    </div>

    <div class="txtBox">
    <h3 class="privacyTitle">メールマガジン等の各種情報の配信停止手続きについて</h3>
    <p  class="privacyTxt">
    当社からのメールマガジン等の各種情報の配信停止を希望される場合は、配信停止されたいメールマガジンの末尾に記載の手続きを行なう、もしくは当社が運営するWebサイト上から会員登録情報の設定を変更することにより、当該情報の配信を停止することができます。</p>
    </div>

    <div class="txtBox">
    <h3 class="privacyTitle">営業譲渡について</h3>
    <p  class="privacyTxt">
    当社は、当社事業の発展を常に追求しています。これらの目的を成し遂げる際、当社は事業を買収・売却する、あるいは他の企業により買収される可能性があります。当社が事業を売却する場合、当社は皆様に提供するサービスを継続するため、またはその他の事業上の目的のために、皆様の情報の全部・または一部を移転させることがあります。</p>
    </div>

    <div class="txtBox">
    <h3 class="privacyTitle">個人情報の開示に関して</h3>
    <ul class="listTxt">
        <li>・請求いただける内容<br>
        当社では、個人情報の保護に関する法律（以下「法」といいます）に基づき、当社が保有する個人情報に関して、ご本人またはその代理人からの次のご請求（以下総称して「開示等の求め」といいます）を受け付けいたします。<br>
        「利用目的の通知」の請求（法第24条第2項に基づく請求）<br>
        「開示」の請求（法第25条第1項に基づく請求）<br>
        「内容の訂正又は追加」の請求（法第26条第1項に基づく請求）<br>
        「利用の停止又は消去」の請求（法第27条第1項及び第2項に基づく請求）<br>
        「第三者への提供の停止」の請求（法第27条第2項に基づく請求）ただし、以下の場合は個人情報の変更等に応じないことがあります。
        </li>
        <li>・お客様本人または第三者の生命、身体、財産その他の権利・利益を害するおそれがある場合</li>
        <li>・本サービスの適正な実施に著しい支障を及ぼすおそれがある場合</li>
        <li>・他の法令に違反することとなる場合<br>
        また、当該個人情報の変更等に多額の費用を要する場合､その他の、個人情報の変更等を行うことが困難な場合であって、お客様の権利・利益を保護するため必要なこれに代わるべき措置をとるときは、個人情報の変更等に応じないことがあります。</li>
    </ul>
    </div>

    <div class="txtBox">
    <h3 class="privacyTitle">個人情報の正確性</h3>
    <p  class="privacyTxt">
    当社は、ご提供いただいた個人情報を正確にデータ処理するように努めます。ただし、ご提供いただいた個人情報の内容が正確かつ最新であることについては、お客様が責任を負うものとします。</p>
    </div>

    <div class="txtBox">
    <h3 class="privacyTitle">個人情報の開示等手続きについて</h3>
    <p  class="privacyTxt">
    「開示等の求め」の手続きを行われる方は、下記のお問合せ窓口にご連絡ください。<br>
    その後、郵送または電子メールで当社より所定の請求書を送付・送信いたしますので、所定の事項を全てご記入の上、下記の「本人確認のための書類」を添付し、下記の住所宛、送付に必要とされる金額分の切手を貼り付けの上、ご郵送ください（なお、必要金額分の切手が貼付されていない場合は受け取りませんのでご注意ください）。<br>
    その際、封筒に朱書きで「開示等請求書類在中」とお書き添えください。<br>
    なお、電話、FAX、E-MAIL、面会等の方法による請求は受け付けしておりません。<br>
    また、下記の当社の個人情報相談窓口宛郵送によるもののみ受け付けしており、当社各部門の社員等では受け付けしておりませんので、予めご了承ください。</p>

    <p  class="privacyTxt">
    ■住所 <br>
    〒107-0052 <br>
    東京都港区南青山1-11-38シャトレ青山2階<br>
    株式会社ワイオーユー個人情報お問合せ窓口</p>

    <ul class="listTxt">
        <li>・本人確認のための書類<br>
        運転免許証またはパスポートのコピー
        住民票の写し（コピー不可）</li>

        <li>・代理人による「開示等の求め」<br>
        本人が未成年者または成年被後見人である場合の法定代理人もしくは「開示等の求め」をすることにつき本人が委任した代理人による請求の場合は、前項の書類に加えて、下記の書類（ＡまたはＢ）を同封してください。</li>
    </ul>

    <p  class="privacyTxt">
    A.法定代理人の場合<br>
    当社所定の請求書<br>
    法定代理権があることを確認するための書類 <br>
    （戸籍謄本、親権者の場合は扶養家族が記入された保険証のコピーも可）<br>
    法定代理人の「本人確認のための書類」<br><br>

    B.委任による代理人の場合<br>
    委任状（本人が自筆で記入し実印が押印されているもの）<br>
    本人の印鑑証明書<br>
    代理人の「本人確認のための書類」
    </p>

    <ul class="listTxt">
        <li>・「開示等の求め」の手数料及び徴収方法<br>
        「利用目的の通知」の請求または「開示」の請求については、1回の請求ごとに、500円の手数料が必要となります。500円分の郵便切手を請求書類に同封してください（なお、手数料の額は、予告なく変更させていただくことがございますので、予めご了承ください）。<br>※手数料が不足している場合および手数料が同封されていない場合は、その旨ご連絡申し上げますが、所定の期間内にお支払いがない場合は、開示の求めがなかったものとして対応させて頂きます。</li>

        <li>・「開示等の求め」に対する回答方法<br>
        請求された方の請求書記載住所宛に書面にてご回答申し上げます。なお、回答書は、請求の受付から1か月以内を目処に発送いたしますが、事情により遅れることがございますので、予めご了承ください。</li>

        <li>・「開示等の求め」に関して取得した個人情報の「利用目的」<br>
        「開示等の求め」にともない取得した個人情報は、開示等の求めに必要な範囲内において取り扱うものとさせて頂きます。 提出頂いた書類は、その回答が終了した後、2年間保存し、その後廃棄させて頂きます。</li>


        <li>・「開示等の求め」に応じられない事由について<br>
        次に定める場合は、「開示等の求め」に応じられない場合があります。「開示等」の求めに応じられない場合は、その旨、理由を付記して通知申し上げます。また、この場合についても手数料（同金額）の返還はいたしかねます。</li>
    </ul>

    <ul class="listTxt">
        <li>1. ご本人または代理人の本人確認ができない場合</li>
        <li>2. 代理人による請求に際して、代理権が確認できない場合</li>
        <li>3. 所定の請求書類に不備があった場合</li>
        <li>4. 開示の求めの対象が保有する個人データに該当しない場合</li>
        <li>5. 本人または第三者の生命、身体、財産その他の権利利益を害するおそれがある場合</li>
        <li>6. 当社の業務の適正な実施に著しい支障を及ぼすおそれがある場合</li>
        <li>7. 他の法令に違反することになる場合</li>
        <li>8. 保有個人データに関する「利用目的の通知」の請求について、当社が公表している利用目的（上記「個人情報の利用目的」）により、ご本人様が識別される保有個人データの利用目的が明らかな場合</li>
        <li>9. 保有個人データに関する「内容の訂正、追加又は削除」の請求について、当該請求が、1）ご本人様が識別される保有個人データの内容が事実でないという理由によってなされたものでない場合、又は2）「内容の訂正、追加又は削除」に関して他の法令の規定により特別の手続が定められている場合</li>
        <li>10. 保有個人データに関する「利用の停止又は消去」の請求について、当該請求が、1）ご本人様が識別される保有個人データが法第16条の規定に違反して取り扱われているという理由若しくは法第17条の規定に違反して取得されたものであるという理由によってなされたものでない場合、2）請求に理由があることが判明しない場合、又は3）保有個人データの「利用の停止又は消去」に多額の費用を要する場合その他の利用停止を行うことが困難な場合であって、ご本人様の権利利益を保護するため必要なこれに代わるべき措置をとる場合</li>
        <li>11. 保有個人データに関する「第三者への提供の停止」の請求について、当該請求が、1）ご本人様が識別される保有個人データが法第23条第1項の規定に違反して第三者に提供されているという理由によってなされたものでない場合、2）請求に理由があることが判明しない場合、又は3）保有個人データの「第三者への提供の停止」に多額の費用を要する場合その他の第三者への提供の停止を行うことが困難な場合であって、ご本人様の権利利益を保護するため必要なこれに代わるべき措置をとる場合</li>
    </ul>

    </div>

    <div class="txtBox">
    <h3 class="privacyTitle">リンクについて</h3>
    <p  class="privacyTxt">
    本サイトよりリンクを設定している他のサイトでの個人情報の取り扱いについては、当社では責任を負うことができません。本サイトより他のサイトに移動される場合には、各リンク先サイトの個人情報取り扱いについてのプライバシーポリシーなどをご覧になることをおすすめいたします。本個人情報保護ポリシーは本サイトによって収集された個人情報のみに適用されます。</p>
    </div>

    <div class="txtBox">
    <h3 class="privacyTitle">お問合せ窓口について</h3>
    <p  class="privacyTxt">
    当社の個人情報の取扱いに関するお問合せにつきましては、下記までお申し出ください。</p>

    <ul class="listTxt">
        <li>・お手紙による場合<br>
            〒107-0062東京都港区南青山1-11-38シャトレ青山2階<br>
            株式会社ワイオーユー個人情報お問合せ窓口
        </li>
        <li>・電子メールによる場合<br>
        株式会社ワイオーユー個人情報お問合せ窓口<br>
        個人情報の取り扱いに関するお問い合わせは<a href="/contact/index.php">こちら</a>
        </li>
        <li>・個人情報管理責任者<br>
        情報セキュリティ委員会委員長<br>
        ※直接ご来社いただいてのお申し出は受けかねますので、その旨ご了承賜りますようお願い申し上げます。
        </li>
    </ul>

    </div>

    <!--<div class="txtBox">
    <h3 class="privacyTitle">改定履歴</h3>
    <p  class="privacyTxt"></p>
    </div>-->

    <div class="txtBox">
        <p  class="pointTxt">制定：平成 29年 8月 23日</p>
    </div>

</div>

</div>
