<!--{*
 * Copyright(c) SOFTBANK PAYMENT SERVICE Corp. All rights reserved.
 * http://www.sbpayment.jp/
 *}-->
<script type="text/javascript">//<![CDATA[

//]]>
</script>

                            <div class="btn_area_btm">
                                <input type="hidden" name="cartKey" value="<!--{$key}-->" />
                                <input type="submit" onclick="fnFormModeSubmit('form<!--{$key}-->', 'plg_sps2click', '', '');return false;" value="2クリックで注文" name="confirm" class="btn data-role-none" />
                            </div>


