<!--{*
 * Copyright(c) SOFTBANK PAYMENT SERVICE Corp. All rights reserved.
 * http://www.sbpayment.jp/
 *}-->
<script type="text/javascript">//<![CDATA[

function fnPlgSps2clickCart() {
    $('input[name=mode]').val('plg_sps2click');
    document.form1.submit()
    }
//]]>
</script>

                        <div id="cartbtn_default" style="margin-top:1em;">
                            <a rel="external" href="javascript:void(fnPlgSps2clickCart());" class="btn cartbtn_default">2クリックで注文</a>
                        </div>
