<!--{*
 * Copyright(c) 2013 GMO Payment Gateway, Inc. All rights reserved.
 * http://www.gmo-pg.com/
 * Updated: 2013/04/04
 *}-->
 <!--{if !$is_link_load_pgsubs}--> <!--{* 多重ロードを防ぐ *}-->
    <a href="mypage_subs_order.php" accesskey="4"><!--{4|numeric_emoji}-->定期購入一覧</a><br>
<!--{/if}-->
<!--{assign var="is_link_load_pgsubs" value="1"}-->

