<!--{*
 * Copyright(c) 2013 Spirit of Co.,Ltd. All rights reserved.
 * http://sbps.ec-cube.pro/
 * Updated: 2012/08/20
 *}-->
<!--{if !$is_link_load}--> <!--{* 多重ロードを防ぐ *}-->

<script type="text/javascript">//<![CDATA[
    $(function(){
        $('#mypage_nav > ul > li:last').after('<li class="nav_change_card"><a href="change_card.php" class="">クレジット登録</a></li>');
        });

//]]></script>

<!--{/if}-->
<!--{assign var="is_link_load" value="1"}-->

