@charset "utf-8";

#main_column {
	margin-bottom: 100px;
	padding: 5px;
}

.pagetitle {
    text-align: center;
    padding-bottom: 40px;
    border-bottom: 1px solid #000;
}
.pagetitle > h2 {
    font-size: 30px;
    letter-spacing: 0.12em;
}
.detail {
    margin-bottom: 100px;
}
.detail .topTxt {
    margin-bottom: 50px;
    text-align: center;
}
.detail p {
    padding-left: 17px;
    font-size: 14px;
    box-sizing: border-box;
}
.detail .btmTxt {
    margin-top: 50px;
}
.detail .txtBox {
    margin-bottom: 60px;
}
.detail h3 {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 14px;
}
.detail p {
    padding-left: 17px;
    font-size: 14px;
    box-sizing: border-box;
}
.detail ul {
    margin: 0px 0px;
    padding-left: 17px;
    box-sizing: border-box;
}
.detail ul li {
    font-size: 14px;
    list-style: none;
    margin-bottom: 5px;
    padding-left: 1em;
    text-indent: -1em;
}
.detail dl {
    width: 100%;
    display: table;
    margin: 0px;
    border-bottom: 1px solid #eeeeee;
}
.detail dl dt {
    display: table-cell;
    width: 225px;
    font-weight: bold;
    padding: 28px 10px;
}
.detail dl dd {
    display: table-cell;
    padding: 28px 0px;
    vertical-align: top;
    text-align: left;
    font-size: 14px;
    line-height: 1.7em;
}
@media screen and (max-width: 768px)
{
    .detail dl {
        //display: block;
        display: inline-block;
    }
    .detail dl dt,
    .detail dl dd {
        display: block;
        padding: 10px;
        //width: 100%;
    }
    .detail dl dd {
        margin-bottom: 20px;
    }
}

br.sp {
    display: inline-block;
}
@media screen and (max-width: 768px)
br.sp {
    display: block;
}


.attention {
    color: #f00;
    font-size: 0.9em;
}




/**
 * Form inputs
 */
/*input test*/
.input-group,
.input-group__control,
.input-group__addon {
  box-sizing:border-box;
}
/*
.input-group {
  display:table;
  width:200px;
  border-collapse:separate;
  font-size:14px;
}
*/
.input-group__control,
.input-group__addon {
  display:table-cell;
  height:30px;
  width:200px;
  padding:8px 14px;
}

.input-group__control {
  float:left;
  width:200px;
  margin:0 20px 0 0;
  border:1px solid #bbb;
  border-radius:0;
  font-size:14px;
  font-family:inherit;
  line-height:1.5;
  -webkit-appearance:none;
  appearance:none;
}
select.input-group__control {
    -webkit-appearance: menulist-button;
    -moz-appearance: menulist-button;
    appearance: menulist-button;
}
.-address {
    width: calc(100% - 20px);
    margin-right: 20px;
    float: none;
    margin-bottom: 1em;
}
.-phone_num,
.-zip {
    width: 100px;
    margin-right: 5px;
}
.-email {
    width: 300px;
    //margin-right: calc(100% -300px);
    float: none;
    margin-bottom: 1em;
}

dd .attention {
    width: 100%;
    display: block;
}

@media screen and (max-width: 768px)
{
    .input-group__control {
        margin-bottom: 20px;
    }
}


/*
.input-group__addon {
  width:1%;
  border-width:1px 0 1px 1px;
  border-style:solid;
  border-color:#bbb;
  white-space:nowrap;
  vertical-align:middle;
  text-align:center;
  line-height:1;
}
*/

/*
.input-group__control + .input-group__addon {
  border-width:1px 1px 1px 0;
}
*/

/* Select box */
select.input-group__control {
    height: 30px;
    width: 200px;
    padding: 0px 14px;
    margin: 0 0 15px 0;
    font-size: 14px;
}

/* Textarea */
textarea.input-group__control {
    margin: 0;
    width: 100%;
    height: 7em;
}

@media screen and (max-width: 768px)
{

}


i.split-bar:after {
    /*width: 50px;*/
    float: left;
    margin-right: 5px;
    content: "-";
}



/**
 * Button styles
 */
.btn_area {
    text-align: center;
}
.btn_inner {
    width: 350px;
    margin: 0 auto;
    height: 62px;
}
.btn_submit {
    -webkit-transition: background ease .3s, opacity ease .3s;
    -o-transition: background ease .3s, opacity ease .3s;
    transition: background ease .3s, opacity ease .3s;
    width: 155px;
    margin: 20px auto;
    padding: 1.2rem;
    font-size: 1.2rem;
    color: #fff;
    background-color: #1c1c1c;
    cursor: pointer;
}
.btn_submit.-some {
    float: left;
    margin: 20px 10px;
}
.btn_submit:hover {
    -webkit-transition: background ease .3s, opacity ease .3s;
    -o-transition: background ease .3s, opacity ease .3s;
    transition: background ease .3s, opacity ease .3s;
    opacity: .7;
}
.detail > p {
    margin-bottom: 20px;
}



/**
 * Table style
 */





/**
 * Cart
 */
.cart_text {
	display: block;
	max-width: 685px;
	margin: auto;
}
.cart_items {
	display: block;
	width: 100%;
	margin: 10px 0;
	text-align: center;
}
.cart_item {
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    width: 100%;
    max-width: 685px;
    //float: none;
    display: inline-block;
}
.cart_item .thumb_image {
    float: left;
    width: 100px;
    margin-right: 10px;
}
.cart_item .thumb_image img {
	max-width: 100px;
}
.cart_item .item_detail {
    float: left;
    //margin-left: 3%;
    //width: 62%;
    //padding: 0 20px;
    width: calc(100% - 110px);
}
.cart_item .item_detail h2 {
	background-color: #bbb;
	color: #fff;
	margin-bottom: 9px;
    font-size: 16px;
    font-weight: bold;
}
.cart_item .item_detail h2:hover,
.cart_item .thumb_image:hover {
	cursor: pointer;
}
.cart_item .item_detail .title {
	width: 100px;
	float: left;
}
.cart_item .item_detail .item_sku,
.cart_item .item_detail .price,
.cart_item .item_detail .subtotal,
.cart_item .item_detail .item_detail_quantity {
	font-size: 14px;
	margin: 10px 16px;
	//float: left;
	text-align: left;
	padding-left: 20px;
	display: block;
	//border-bottom: 1px solid #eee;
}
.cart_item .item_detail .item_detail_quantity .value {
	float: left;
}
.cart_item .item_detail .subtotal {
	color: red;
}
.item_detail_quantity {
	display: contents;
    margin: 15px 0;
}
@media screen and ( max-width: 768px ) {
	.cart_item .item_detail .item_sku,
	.cart_item .item_detail .price,
	.cart_item .item_detail .subtotal,
	.cart_item .item_detail .item_detail_quantity {
		font-size: 12px;
		float: none;

	}
	.cart_item .item_detail .item_detail_quantity .title {
		width: auto;
		float: left;
	}
	.cart_item .item_detail .item_detail_quantity .value {
		margin-left: 20px;
	}
}


#quantity_level {
    display: inline-block;
    margin-left: 10px;
}
#quantity_level li {
    display: inline-block;
    margin: 0 3px;
    background-color: #1c1c1c;
    font-size: 0.8em;
}
#quantity_level a {
    padding: 0 7px;
    border: 1px solid #000;
    color: #fff;
    text-decoration: none;
}



/**
 * Table style
 * Using shopping confirm
 */
.table_set{
	margin: 15px 0 30px;
	width: 100%;
}

.table_set th,
.table_set td{
	padding: 10px;
	border-bottom: 1px solid #ddd;
	vertical-align: middle;
}

.table_set tr:first-child th,
.table_set tr:first-child td{
	border-top: 1px solid #ddd;
}

.table_set th{
	background: #eee;
}

.table_set td h2{
	font-size: 18px;
}

.table_set td #quantity_level{
	display: inline-block;
	margin-left: 3px;
}

.table_set td #quantity_level li{
	display: inline-block;
}

.table_set td #quantity_level li a{
	display: block;
	width: 25px;
	height: 25px;
	line-height: 23px;
	border: 1px solid #000;
	color: #000;
	text-decoration: none;
}

.table_set tr.cart_bottom th{
	padding: 10px;
}

.table_set.customer_table th{
	text-align: left;
}

.table_set.customer_table td p{
	margin-bottom: 10px;
}

.table_set.customer_table td p:last-child{
	margin-bottom: 0;
}

.table_set.customer_table td input[name="order_email"],
.table_set.customer_table td input[name="order_email02"]{
	min-width: 300px;
}

.table_set tbody td.alignR {
	text-align: right;
}

.table_set tbody td strong {
	font-weight: bold;
}

.table_set tbody th {
	font-weight: bold;
}


form#form1 h3 {
	font-weight: bold;
	font-size: 1.2em;
}


/**
 * shopping complete
 */
#complete_area {
    max-width: 768px;
    padding: 0 20px;
    margin: 50px auto 0;
}