@charset "utf-8";

/**
 * Media query
 */
$mobile: 768px;

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

#main_column {
    margin-bottom: 100px;
    padding: 5px;
}

// Base parts
.pagetitle {
    text-align: center;
    padding-bottom: 40px;
    border-bottom: 1px solid #000;

    > h2 {
        font-size: 30px;
        letter-spacing: 0.12em;
    }
}

// Main contents
.detail {
    margin-bottom: 100px;

    .topTxt {
        margin-bottom: 50px;
        text-align: center;
    }

    p {
        padding-left: 17px;
        font-size: 14px;
        box-sizing: border-box;
    }

    > p {
        margin-bottom: 20px;
    }

    .btmTxt {
        margin-top: 50px;
    }

    .txtBox {
        margin-bottom: 60px;
    }

    h3 {
        margin-bottom: 20px;
        font-weight: bold;
        font-size: 14px;
    }

    ul {
        margin: 0px 0px;
        padding-left: 17px;
        box-sizing: border-box;

        li {
            font-size: 14px;
            list-style: none;
            margin-bottom: 5px;
            padding-left: 1em;
            text-indent: -1em;
        }
    }

    dl {
        width: 100%;
        display: table;
        margin: 0px;
        border-bottom: 1px solid #eeeeee;

        @include mobile {
            display: inline-block;
        }


        dt {
            display: table-cell;
            width: 225px;
            font-weight: bold;
            padding: 28px 10px;

            @include mobile {
                display: block;
                padding: 10px;
            }
        }

        dd {
            display: table-cell;
            padding: 28px 0px;
            vertical-align: top;
            text-align: left;
            font-size: 14px;
            line-height: 1.7em;

            @include mobile {
                display: block;
                padding: 10px;
                margin-bottom: 20px;
            }

            label {
                display: block;
                margin-bottom: 10px;
                &:after {
                    clear: both;
                    display: block;
                }
                input {
                    //vertical-align: middle;
                    position: relative;
                    top: 1px;
                }
            }
        }
    }
}

.attention {
    color: #f00;
    font-size: 0.9em;
}

/**
 * Form inputs
 */
.input-group__control {
    box-sizing: border-box;
    display: table-cell;
    height: 30px;
    width: 200px;
    padding: 8px 14px;
    float: left;
    margin: 0 20px 0 0;
    border: 1px solid #bbb;
    border-radius: 0;
    font-size: 14px;
    font-family: inherit;
    line-height: 1.5;
    -webkit-appearance: none;
    appearance: none;
}

select.input-group__control {
    height: 30px;
    width: 200px;
    padding: 0px 14px;
    margin: 0 0 15px 0;
    font-size: 14px;
    -webkit-appearance: menulist-button;
    -moz-appearance: menulist;
    appearance: menulist-button;
}

.-address {
    width: calc(100% - 20px);
    margin-right: 20px;
    float: none;
    margin-bottom: 1em;
}

.-phone_num,
.-zip {
    width: 100px;
    margin-right: 5px;
}

.-email {
    width: 300px;

    //margin-right: calc(100% -300px);
    float: none;
    margin-bottom: 1em;
}

dd .attention {
    width: 100%;
    display: block;
}

@media screen and (max-width: 768px) {
    .input-group__control {
        margin-bottom: 20px;
    }
}


/* Textarea */
textarea.input-group__control {
    margin: 0;
    width: 100%;
    height: 7em;
}

i.split-bar:after {
    /*width: 50px;*/
    float: left;
    margin-right: 5px;
    content: "-";
}

/**
 * Button styles
 */
.btn_area {
    text-align: center;
}

.btn_inner {
    width: 350px;
    margin: 0 auto;
    height: 62px;
}

.btn_submit {
    -webkit-transition: background ease .3s, opacity ease .3s;
    -o-transition: background ease .3s, opacity ease .3s;
    transition: background ease .3s, opacity ease .3s;
    width: 155px;
    margin: 20px auto;
    padding: 1.2rem;
    font-size: 1.2rem;
    color: #fff;
    background-color: #1c1c1c;
    cursor: pointer;

    &.-some {
        float: left;
        margin: 20px 10px;
    }

    &:hover {
        -webkit-transition: background ease .3s, opacity ease .3s;
        -o-transition: background ease .3s, opacity ease .3s;
        transition: background ease .3s, opacity ease .3s;
        opacity: .7;
    }
}

/**
 * Cart
 */
.cart_text {
    display: block;
    max-width: 685px;
    margin: auto;
}

.cart_items {
    display: block;
    width: 100%;
    margin: 10px 0;
    text-align: center;

    .cart_item {
        border: 1px solid #ccc;
        padding: 10px;
        box-sizing: border-box;
        margin-bottom: 10px;
        width: 100%;
        max-width: 685px;

        //float: none;
        display: inline-block;

        .title {
            width: 100px;
            float: left;
        }

        .thumb_image {
            float: left;
            width: 100px;
            margin-right: 10px;

            img {
                max-width: 100px;
            }

            &:hover {
                cursor: pointer;
            }
        }

        .item_detail {
            float: left;

            //margin-left: 3%;
            //width: 62%;
            //padding: 0 20px;
            width: calc(100% - 110px);

            h2 {
                background-color: #bbb;
                color: #fff;
                margin-bottom: 9px;
                font-size: 16px;
                font-weight: bold;

                &:hover {
                    cursor: pointer;
                }
            }

            .item_sku,
            .price,
            .subtotal,
            .item_detail_quantity {
                font-size: 14px;
                margin: 10px 16px;

                //float: left;
                text-align: left;
                padding-left: 20px;
                display: block;

                //border-bottom: 1px solid #eee;
           
            }
        }

        .subtotal {
            color: red;
        }
    }
}

.item_detail_quantity {
    display: contents;
    margin: 15px 0;

    .value {
        float: left;
    }
}

@media screen and (max-width: 768px) {
    .cart_item .item_detail .item_sku,
    .cart_item .item_detail .price,
    .cart_item .item_detail .subtotal,
    .cart_item .item_detail .item_detail_quantity {
        font-size: 12px;
        float: none;
    }

    .cart_item .item_detail .item_detail_quantity .title {
        width: auto;
        float: left;
    }

    .cart_item .item_detail .item_detail_quantity .value {
        margin-left: 20px;
    }
}

// Quantity change button
#quantity_level {
    display: inline-block;
    margin-left: 10px;

    li {
        display: inline-block;
        margin: 0 3px;
        background-color: #1c1c1c;
        font-size: 0.8em;
    }

    a {
        padding: 0 7px;
        border: 1px solid #000;
        color: #fff;
        text-decoration: none;
    }
}


/**
 * Table style
 * Using shopping confirm
 */
.table_set {
    margin: 15px 0 30px;
    width: 100%;

    th,
    td {
        padding: 10px;
        border-bottom: 1px solid #ddd;
        vertical-align: middle;
    }

    th {
        background: #eee;
    }

    tr:first-child th,
    tr:first-child td {
        border-top: 1px solid #ddd;
    }

    td {
        h2 {
            font-size: 18px;
        }

        #quantity_level {
            display: inline-block;
            margin-left: 3px;

            li {
                display: inline-block;

                a {
                    display: block;
                    width: 25px;
                    height: 25px;
                    line-height: 23px;
                    border: 1px solid #000;
                    color: #000;
                    text-decoration: none;
                }
            }
        }
    }

    tr.cart_bottom th {
        padding: 10px;
    }

    &.customer_table {
        th {
            text-align: left;
        }

        td {
            p {
                margin-bottom: 10px;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            input[name="order_email"],
            input[name="order_email02"] {
                min-width: 300px;
            }
        }
    }

    tbody {
        th {
            font-weight: bold;
        }

        td.alignR {
            text-align: right;

            strong {
                font-weight: bold;
            }
        }
    }
}

form#form1 h3 {
    font-weight: bold;
    font-size: 1.2em;
}

/**
 * shopping complete
 */
#complete_area {
    max-width: 768px;
    padding: 0 20px;
    margin: 50px auto 0;
}


/**
 * Payment input form for SoftbankPayment
 * Page: /shopping/load_payment_module.php
 * Target: Credit [API]
 */
.detail #payment_form #payment_form_body {
    margin-top: 20px;

    div.infomation {
        margin-bottom: 20px;
    }

    h3 {
        margin: 20px 10px;
    }

    .form_entry {
        $form_dt: 200px;
        dt {
            float: left;
            clear: left;
            width: $form_dt;
            margin-right: -$form_dt;
        }
        dd {
            float: left;
            width: 100%;
            padding-left: $form_dt;
            border-top: solid 1px #eeeeee;
            input {
                // @extend .input-group__control
            }
        }
    }

    .btn_area {
        margin-top: 20px;
        .btn_btm {
            @extend .btn_inner;
            li {
                display: inline-block;
                float: right;
                @extend .btn_submit;
                &:last-child{
                    margin-right: 20px;
                }
                padding: 0;
                a{
                    margin: 12px;
                }
            }
        }
    }
}
