<!--{*
 * Copyright(c) 2013 Spirit of Co.,Ltd. All rights reserved.
 * http://sbps.ec-cube.pro/
 * Updated: 2013/08/01
 *}-->

<!--{if $plg_sps_payment_type_id == $smarty.const.SPS_CREDIT_REGIST_LINK_PAYID || $plg_sps_payment_type_id == $smarty.const.SPS_CREDIT3D_REGIST_LINK_PAYID}-->

            <tr>
                <th>ご注意</th>
                <td>
                <span class="attention">クレジットカード登録は、カードの登録のみを要求し決済自体（与信や売上など）は行いません。<br />
                後から受注に対して与信・売上を実行する必要があります。</span>
                </td>
            </tr>
            <tr>
                <th>登録後の受注状況<span class="attention"> *</span></th>
                <td>
                    <!--{assign var=key value="auth_order_status"}-->
                    <span class="attention"><!--{$arrErr[$key]}--></span>
                    <select name="<!--{$key}-->" style="<!--{$arrErr[$key]|sfGetErrorColor}-->" id="<!--{$key}-->">
                    <option value="">--選択して下さい--</option>
                    <!--{html_options options=$arrORDERSTATUS selected=$arrForm[$key].value}-->
                    </select>
                    <span style="font-size:80%"><br />
                    ※与信成功時に注文データの受注状況を設定した状態に変更します。
                    </span>
                </td>
            </tr>
<!--{/if}-->
