<!--{*
 *}-->
<!--{if !$is_link_load}--> <!--{* 多重ロードを防ぐ *}-->

<script type="text/javascript">//<![CDATA[
    $(function(){
        $('div#mynavi_area li:last').after('<li><a href="change_card.php" class="">クレジット登録</a></li>');
        });

//]]></script>

<!--{/if}-->
<!--{assign var="is_link_load" value="1"}-->

